<div class="container justify-content-center">
<h1 class="header-index"><strong>INDIGO LEAGUE</strong></h1>

<!-- <div class="sort_by">
  <div class="rdlLb"><span class="jQgLo">Sort By</span></div>
  <select name="price_max" id="forsale_price_max" data-section="for-sale" data-selectboxit="false">
            <option value="">Rank</option>

    <option value="scroll" data-condensed="10k">Scroll</option>
    <option value="Ascending" data-condensed="20k">Ascending</option>
    <option value="Descending" data-condensed="30k">Descending</option>
  </select>
  <select name="price_max" id="forsale_price_max" data-section="for-sale" data-selectboxit="false">
            <option value="">Energy</option>

    <option value="scroll" data-condensed="Value">£10,000</option>
    <option value="Value" data-condensed="Value">£20,000</option>
    <option value="Value" data-condensed="Value">£30,000</option>
    <option value="Value" data-condensed="Value">£40,000</option>
  </select>
  <select name="price_max" id="forsale_price_max" data-section="for-sale" data-selectboxit="false">
            <option value="">No max</option>

    <option value="scroll" data-condensed="Value">£10,000</option>
    <option value="value" data-condensed="Value">£20,000</option>
    <option value="Value" data-condensed="Value">£30,000</option>
    <option value="Value" data-condensed="Value">£40,000</option>
  </select>
</div> -->

<div class="search__container">
  <%= form_tag users_path, method: :get, class: "mt-0" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search__input",
    placeholder: "Search for a user" %>
  <% submit_tag %>
  <% end %>

</div>


Sort by: <%= link_to "Rank desc", users_path(sort: 'rank_desc') %> |  <%= link_to "Rank asc", users_path(sort: 'rank_asc') %>


  <% counter = 0 %>
  <div class="card-product small">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-1">
          <div class="division_ranks">
            <h5><strong>RANK</strong></h5>
          </div>
        </div>
        <div class="col-md-1">
          <h5><strong>AVATAR</strong></h5>
        </div>
        <div class="col-md-3">
            <h5><strong>TRAINER NAME</strong></h5>
        </div>
        <div class="col-md-4">
          <h5><strong>CURRENT TEAM</strong></h5>
        </div>
        <div class="col-md-1">
            <h5><strong>BATTLES FOUGHT</strong></h5>
        </div>
        <div class="col-md-1">
            <h5><strong>WIN RATE</strong></h5>
        </div>
        <div class="col-md-1">
          <h5><strong>BATTLE!</strong></h5>
        </div>
      </div>
    </div>
  </div>


  <%@users.each do |user| %>
  <div class="card-product">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-1">
          <div class="division_ranks">
            <h5>#<%= counter+=1 %></h5>
          </div>
        </div>
        <div class="col-md-1">
          <% if user.photo.attached? %>
          <%= cl_image_tag(current_user.photo.key, :transformation=>[
              {:width=>400, :height=>400, :gravity=>"auto", :radius=>"max", :crop=>"crop"},
              {:width=>40, :crop=>"scale"}
              ]) %>
          <% else %>
          <img class="avatar " src="https://vignette.wikia.nocookie.net/295e578f-a7d1-4240-bc80-303bcfd62dc8">

          <% end %>
        </div>
        <div class="col-md-3 warrior-name">
          <td class="align-middle">
            <%=link_to user.username.capitalize, user_path(user) %>
          </td>
        </div>
        <div class="col-md-4 card-product-infos">
          <%user.user_pokemons.each do |pair| %>
          <% @pokemon = pair.pokemon %>
          <div>
            <img src="<%= @pokemon.picture %>">
            <div class="pokemon-box-width">
              <p><%= @pokemon.name %></p>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-1">

            <p>400</p>

        </div>
        <div class="col-md-1">
          <div>
            <p>60%</p>
          </div>
        </div>
        <div class="col-md-1">

         <%= link_to "Battle", new_battle_path(user_id: current_user, enemy_id: user.id), class: "battle-btn"  %>

        </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>




