<h1>Indigo Leauge</h1>

<!-- <div class="sort_by">
  <div class="rdlLb"><span class="jQgLo">Sort By</span></div>
  <select name="price_max" id="forsale_price_max" data-section="for-sale" data-selectboxit="false">
            <option value="">Rank</option>

    <option value="scroll" data-condensed="10k">Scroll</option>
    <option value="Ascending" data-condensed="20k">Ascending</option>
    <option value="Descending" data-condensed="30k">Descending</option>
  </select>
  <select name="price_max" id="forsale_price_max" data-section="for-sale" data-selectboxit="false">
            <option value="">Energy</option>

    <option value="scroll" data-condensed="Value">£10,000</option>
    <option value="Value" data-condensed="Value">£20,000</option>
    <option value="Value" data-condensed="Value">£30,000</option>
    <option value="Value" data-condensed="Value">£40,000</option>
  </select>
  <select name="price_max" id="forsale_price_max" data-section="for-sale" data-selectboxit="false">
            <option value="">No max</option>

    <option value="scroll" data-condensed="Value">£10,000</option>
    <option value="value" data-condensed="Value">£20,000</option>
    <option value="Value" data-condensed="Value">£30,000</option>
    <option value="Value" data-condensed="Value">£40,000</option>
  </select>
</div> -->

Sort by: <%= link_to "Rank desc", users_path(sort: 'rank_desc') %> |  <%= link_to "Rank asc", users_path(sort: 'rank_asc') %>



<% @users.each do |user| %>
<div class="card-product">
    <div class="division_ranks">
      <h5><%= user.id %></h5>
    </div>
  <img class="avatar-square" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://vignette.wikia.nocookie.net/295e578f-a7d1-4240-bc80-303bcfd62dc8">
<p class="warrior-name"><%=link_to user.username, user_path(user) %></p>
  <div class="card-product-infos">
    <%= user.energy %>
    <img class="avatar-large" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1g_MnBTfa1liZzl7VDJq8SPMugVI0-1HcW9cqOLb23mBuGXxg&s">
    <img class="avatar-large" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoWnvDgGJiF6YJdt76dqAg1Rq3WSVhPLZD57P0LmQjcW8TBfMa&s">
    <img class="avatar-large" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://i.pinimg.com/originals/04/05/32/04053236f63533a2faac32a15cd7dfc1.gif">
  </div>
</div>
<% end %>


<%@user.pokemons.each do |pokemon|
  %>

<%= pokemon.name %>

<% end %>


