<h1 class="username"><%= @user.username %></h1>

<h2 class="my-pokemon">My Pokemon</h2>

<% @user.user_pokemons.each do |pair| %>

  <% @pokemon = pair.pokemon %>
  <% @type = @pokemon.kind_of.downcase %>


<div class="cust-cards">
  <figure class="card card--<%= @type%>">
    <div class="card__image-container">
      <img src="<%= @pokemon.picture %>" alt="Eevee" class="card__image">
    </div>

    <figcaption class="card__caption">
      <h1 class="card__name"><%= @pokemon.name %></h1>

      <h3 class="card__type">
        <%= @pokemon.kind_of %>
      </h3>

      <table class="card__stats">
        <tbody><tr>
          <th>HP</th>
          <td><%= @pokemon.hp %></td>
        </tr>
        <tr>
          <th>Attack</th>
          <td><%= @pokemon.attack %></td>
        </tr>

        <tr>
          <th>Defense</th>
          <td><%= @pokemon.defense %></td>
        </tr>

        <tr>
          <th>Special Attack</th>
          <td><%= @pokemon.special_attack %></td>
        </tr>
        <tr>
          <th>Special Defense</th>
          <td><%= @pokemon.special_defense%></td>
        </tr>
        <tr>
          <th>Speed</th>
          <td><%= @pokemon.speed %></td>
        </tr>
      </tbody></table>

      <div class="card__abilities">
        <h4 class="card__ability">
          <span class="card__label">Move</span>
          <%= @pokemon.attack_name %>
        </h4>
        <h4 class="card__ability">
          <span class="card__label">Value</span>
          <%= @pokemon.attack_value ? @pokemon.attack_value : "Status Ability" %>
        </h4>
      </div>
    </figcaption>
    <%= link_to "Remove from team", user_user_pokemon_path(current_user, pair),
      method: :delete,
      class: "btn btn-primary" %>
  </figure>
</div>
<% end %>

<% if current_user.user_pokemons.length < 3 %>
  <%= link_to "Add Pokemon", pokemons_path, class: "btn btn-primary" %>
<% end %>

