<h1>Users#show</h1>
<h1><%= @user.username %></h1>

<p>Email: <%= @user.email %></p>
<p>Pokeballs: <%= @user.pokeball %></p>
<p>Energy: <%= @user.energy %></p>

<p>My Pokemon</p>

<ul>
<% @user.pokemons.each do |pokemon| %>
  <li><%= pokemon.name %></li>
<% end %>
</ul>

<%= link_to "Add Pokemon", new_user_user_pokemon_path(current_user), class: "btn btn-primary" %>

--------------------

<!-- Each do -->
<% @pokemon = Pokemon.last %>
<%= @type = Pokemon.last.kind_of.downcase %>
<div class="cards">

<figure class="card card--<%= @type%>">
  <div class="card__image-container">
    <img src="<%= @pokemon.picture %>" alt="Eevee" class="card__image">
  </div>

  <figcaption class="card__caption">
    <h1 class="card__name"><%= @pokemon.name %></h1>

    <h3 class="card__type">
      <%= @pokemon.kind_of %>
    </h3>

    <table class="card__stats">
      <tbody><tr>
        <th>HP</th>
        <td><%= @pokemon.hp %></td>
      </tr>
      <tr>
        <th>Attack</th>
        <td><%= @pokemon.attack %></td>
      </tr>

      <tr>
        <th>Defense</th>
        <td><%= @pokemon.defense %></td>
      </tr>

      <tr>
        <th>Special Attack</th>
        <td><%= @pokemon.special_attack %></td>
      </tr>
      <tr>
        <th>Special Defense</th>
        <td><%= @pokemon.special_defense%></td>
      </tr>
      <tr>
        <th>Speed</th>
        <td><%= @pokemon.speed %></td>
      </tr>
    </tbody></table>

    <div class="card__abilities">
      <h4 class="card__ability">
        <span class="card__label">Move</span>
        <%= @pokemon.attack_name %>
      </h4>
      <h4 class="card__ability">
        <span class="card__label">Value</span>
        <%= @pokemon.attack_value %>
      </h4>
    </div>
  </figcaption>
</figure>


</div>