<h1>Users#show</h1>
<h1><%= @user.username %></h1>

<p>Email: <%= @user.email %></p>
<p>Pokeballs: <%= @user.pokeball %></p>
<p>Energy: <%= @user.energy %></p>

<p>My Pokemon</p>

<ul>
<% @user.pokemons.each do |pokemon| %>
  <li><%= pokemon.name %></li>
<% end %>
</ul>