<div class="final-message"></div>


<h2 class="mt-0">This is your time to shine!</h2>


<div class="container d-flex justify-content-around align-items-center mt-3">
  <% me = @battle.user %>
  <% @pokemon = Pokemon.find(params[:pokemon_id]) %>
  <% @type = @pokemon.kind_of.downcase %>

  <%@moves = @pokemon.moves.sample(2) %>

  <div class="d-flex flex-column">

    <div class="mt-3">
      <h2><%= me.username %></h2>
      <div class="mt-3">
        <h6><strong>Health:</strong></h6>
        <progress id="health-player-one" value="100" max="100" ></progress>
      </div>
    </div>
    <div class="cust-cards">
      <figure class="card card--<%= @type%>">
        <div class="card__image-container">
          <img src="<%= @pokemon.picture %>" alt="Eevee" class="card__image">
        </div>

        <figcaption class="card__caption">
          <h1 class="card__name mt-2" data-hp="<%= @pokemon.hp %>" id="pokemon-one-name"><%= @pokemon.name %></h1>

          <h3 class="card__type">
            <%= @pokemon.kind_of %>
          </h3>

          <table class="card__stats">
            <tbody>
              <tr>
                <th class="header mr-1">Available Moves</button></th>
                <td>Value</td>
              </tr>

              <% @moves.each do |move| %>
              <tr>
                <th><button class="btn btn--border player-one" data-movename="<%= move["name"] %>" data-movevalue="<%= move["power"] %>"><%= move["name"].upcase %></button></th>

                <td><%= move["power"] %></td>
            </tr>
            <% end %>
          </tbody></table>
        </figcaption>
      </figure>
    </div>
  </div>

  <h1>VS</h1>

  <% you = User.find(@battle.enemy_id) %>

<!--   <%# if session[:enemy_poke_id].present? %>
    <%# @enemy_pokemon = Pokemon.find(session[:enemy_poke_id].to_i)  %>
  <%# else %>
    <%# @enemy_pokemon = you.pokemons.sample %>
    <%# session[:enemy_poke_id] = @enemy_pokemon.id %>
  <%# end %> -->

  <% @enemy_pokemon = you.pokemons.sample %>

  <% @type = @enemy_pokemon.kind_of.downcase %>

  <% @enemy_moves = @enemy_pokemon.moves.sample(2) %>

<div class="d-flex flex-column">
<div class="mt-3">
      <h2><%= you.username %></h2>
      <div class="mt-3">
        <h6><strong>Health:</strong></h6>
        <progress id="health-player-two" value="100" max="100" ></progress>
      </div>
</div>
    <div class="cust-cards">
      <figure class="card card--<%= @type%>">
        <div class="card__image-container">
          <img src="<%= @enemy_pokemon.picture %>" alt="Eevee" class="card__image">
        </div>

        <figcaption class="card__caption">

          <h1 class="card__name mt-2" data-hp="<%= @enemy_pokemon.hp %>" data-moveone="<%= @enemy_moves[0]["power"] %>" data-movetwo="<%= @enemy_moves[1]["power"] %>" id="pokemon-two-name"><%= @enemy_pokemon.name %></h1>

          <h3 class="card__type">
            <%= @enemy_pokemon.kind_of %>
          </h3>

          <table class="card__stats">

            <ul>
              <li class="moves-list m-3"> <strong>Available Moves</strong> </li>
              <% @enemy_moves.each do |move| %>
              <li class="moves mt-3 mr-5 player-two" data-movename="<%= move["name"] %>" data-movevalue="<%= move["power"] %>" data-hp="<%= @pokemon.hp %>"><%= move["name"]%></li>
              <% end %>
            </ul>
            <!-- <tbody>
              <tr>
                <th class="header">Available Moves</th>
              </tr>
                <%# @sample_moves.each do |move| %>
                <tr>
                  <th class="btn btn--border"><%#= move["name"] %></th>
              </tr>
              <% #end %>

          </tbody></table> -->
        </figcaption>
      </figure>
    </div>
  </div>
</div>



<%=  %>
