
<h1 id="pokedex">PokeDex</h1>

<%= form_tag pokemons_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control ml-3",
    placeholder: "Search for a pokemon, type, move"
  %>

  <%= submit_tag "Search", class: "btn btn-primary mt-1" %>
<% end %>

<div class="cards-list" >

    <% @pokemons.each do |pokemon|  %>

      <div class="cust-card 1 pokemon">
        <%= link_to pokemon_path(pokemon) do %>
          <div class="card_image" style="background-image: url(<%= pokemon.picture %>)"></div>
          <div class="card_title title-black">
            <p ><%= pokemon.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<div class="pagination">
  <% if params[:query].present? %>
  <% else %>
  <%= will_paginate @pokemons, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% end %>
</div>

