<div class="container">
<h1 class="mt-4" style="margin: 15px auto;"><strong>POKEDEX</strong></h1>

<div class="search__container">
  <%= form_tag pokemons_path, method: :get, class: "mt-0" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search__input",
    placeholder: "Search for a pokemon, type, move" %>
  <% submit_tag %>
  <% end %>

</div>

<div class="cards-list" >

    <% @pokemons.each do |pokemon|  %>

      <div class="cust-card 1 pokemon">
        <%= link_to pokemon_path(pokemon) do %>
          <div class="card_image m-1" style="background-image: url(<%= pokemon.picture %>)"></div>
          <div class="card_title title-black">
            <p ><%= pokemon.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>




<div class="pagination">
  <% if params[:query].present? %>
  <% else %>
  <%= will_paginate @pokemons, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% end %>
</div>
</div>

